language: cpp
cache:
  - apt
  - ccache

compiler:
  - gcc

addons:
  apt:
    packages:
      - cmake
      - curl
      - git
      - libjudy-dev
      - libgmp-dev
      - libpcap-dev
      - libboost-all-dev
      - libevent-dev
      - libtool
      - flex
      - bison
      - pkg-config
      - libssl-dev
      - libgmp10
      - libjudydebian1
      - libpcap0.8
      - python3
      - python3-pip
      - python3-dev
      - python3-tk
      - graphviz

script:
  - ccache -M 1G
  - ccache -z
  - bash tools/install-thrift.sh
  - git clone https://github.com/p4lang/behavioral-model.git
  - cd behavioral-model
  - bash travis/install-nanomsg.sh
  - ./autogen.sh
  - ./configure 'CXXFLAGS=-Wno-sign-compare' 
  - make && sudo make install
  - cd ..
  - sudo ldconfig
  - simple_switch --version
  - pip install --upgrade pip
  - pip install virtualenv
  - virtualenv test-env --python=python3 --system-site-packages
  - source test-env/bin/activate
  - pip install -r requirements.txt
  - python setup.py develop
  - pytest
  - ccache -s
